{% load static %} {%load mathfilters%} {%load humanize%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    <title>CaloriesBurnedCalculator</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <img src="{% static 'images/LogoF.png'%}" class=" img-responsive logo mb-2.5 mt-3" />
                <h1><strong>Calories Burned Calculator</strong></h1>
                <form method="POST">
                    {%csrf_token%}
                    <div class="input-group input-group-lg mb-5">
                        <input type="text" name="query" class="form-control inputstyle"
                            placeholder="Type any food you want to search..." required>
                        <button class="btn whoop" type="submit" id="button-addon2">Find calories</button>
                    </div>
                </form>
                {%if api%}
                {%if api == "Oops! Somthing wrong with this api"%}
                <div class="alert alert-warning"> Oh no! something went wrong.Please try again in sometime. </div>
                {%else%}
                <h2> {{api.0.name | capfirst}}'s total <strong> Calories are {{api.0.calories}}</strong>
                    {%if api.0.calories <= 200  and api.0.sodium_mg <= 700  and api.0.sugar_g < 15%}
                    <div class="alert alert-primary alert-dismissible fade show">
                        <div>
                            <div style="font-size: 10pt;">
                                You are eating healthy food. Healthy eating can help you prevent, control, and even reverse diabetes. It can also help reduce your risk of heart disease and stroke. This is because it can help lower your cholesterol and blood pressure levels.
                        </div>
                    </div>
                    {% elif api.0.calories >= 220 and api.0.fat_total_g > 20 %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        <div>
                            <div style="font-size: 10pt;">
                                You are eating high calorie foods. High-calorie foods can lead to overweight or obesity, which in turn can lead to diseases such as non-insulin-dependent diabetes, high blood pressure, cardiovascular disease, endometrial cancer and gallstones.
                            </div>
                        </div>
                    </div>
                    {%elif api.0.protein_g >= 23%}
                    <div class="alert alert-success alert-dismissible fade show">
                        <div style="font-size: 10pt;">
                            Great! This food contains an high amount of protein. Sugar causes insulin spikes and is a number 1 factor to cause for Obesity.
                        </div>
                    </div>
                    {%elif api.0.sodium_mg >= 1000%}
                    <div class="alert alert-dark d-flex align-items-center mt-3" role="alert">
                        <div style="font-size: 10pt;">
                            Warning! This food contains an high amount of sodium. High Sodium cuases Sever dehydration and water
                            retention.
                        </div>
                    </div>
                    {%elif api.0.sugar_g >= 20%}
                    <div class="alert alert-warning d-flex align-items-center mt-3" role="alert">
                        <div style="font-size: 10pt;">
                            Warning! This food contains an high amount of sugar. Sugar causes insulin spikes and is a number 1 factor to cause for Obesity.
                        </div>
                    </div>
                    {%endif%}
                </h2>
                    
            </div>
            <div class="row justify-content-center mt-5 mb-5">
                <div class="col-md-10 caloriescont shadow rounded">
                    <div class="row">

                        <div class="col-md-6">
                            <h2 class="mt-3 mb-4">Nutritional Values </h2><span></span>
                            <ul>
                                <li class="servingsize">Serving Size per 100Grams <span class="float-end"></span></li>
                                <li>Protein: <span class="float-end">{{api.0.protein_g}}<span></li>
                                <li>Carbohydrates: <span class="float-end">{{api.0.carbohydrates_total_g}}</span></li>
                                <li>Saturated fat: <span class="float-end">{{api.0.fat_saturated_g}}</span></li>
                                <li>Total Fat: <span class="float-end">{{api.0.fat_total_g}}</span></li>
                                <li>Fiber Content: <span class="float-end">{{api.0.fiber_g}}</span></li>
                                <li>Cholesterol: <span class="float-end">{{api.0.cholesterol_mg}}</span></li>
                                <li>Sodium:<span class="float-end">{{api.0.sodium_mg}}</span></li>
                                <li>Sugar: <span class="float-end">{{api.0.sugar_g}}</span></li>
                                <li>Potassium: <span class="float-end">{{api.0.potassium_mg}}</span></li>
                            </ul>
                            <div class="col-md-9 text-center">
                                <h4><a href="{% url 'calcom' %}"><button type="submit" class="btn btn-primary">Record your food comsumption</button></a></h4>
                            </div>
                        </div>
                        
                        <div class="col-md-6 mb-5">
                            <div>
                                <canvas id="myChart" width="550" height="550"></canvas>
                            </div>
                        </div>    
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <h4 class="mt-3 mb-4 text-center">To burn "{{api.0.calories}}" calories you will have to</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="d-flex align-items-center mb-5">
                                <div class="flex-shrink-0">
                                    <img src="{% static 'images/running.png'%} " alt="...">
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <h5> Jog </h5>
                                    <p>you will have to jog for <strong>{{api.0.calories |div:645|mul:60|floatformat:0}}</strong> Minutes</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex align-items-center mb-5">
                                <div class="flex-shrink-0">
                                    <img src="{% static 'images/stairstepper.png'%}" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5> Stair Stepper </h5>
                                    <p>you will have to stair stepper for <strong>{{api.0.calories |div:588|mul:60|floatformat:0}}</strong> Minutes</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex align-items-center mb-5">
                                <div class="flex-shrink-0">
                                    <img src="{% static 'images/weightlifting.png'%}" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5> Weight Lifting </h5>
                                    <p>you will have to weight lifting for <strong>{{api.0.calories |div:484|mul:60|floatformat:0}}</strong> Minutes</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="{% static 'images/Elliptical.png'%}" alt="...">
                                </div>
                                <div class="flex-grow-1 ms-4">
                                    <h5> Elliptical </h5>
                                    <p>you will have to elliptical for <strong>{{api.0.calories |div:530|mul:60|floatformat:0}}</strong> Minutes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {%endif%}
                {%endif%}
            </div>
            
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ['Protein', 'Carbohydrates',  'Total Fat', 'Fiber Content', 'Cholesterol', 'Sodium', 'Sugar'],
                        datasets: [{
                            data: [
                                    {{api.0.protein_g}},
                                    {{api.0.carbohydrates_total_g}},
    
                                    {{api.0.fat_total_g}},
                                    {{api.0.fiber_g}},
                                    {{api.0.cholesterol_mg}},
                                    {{api.0.sodium_mg}},
                                    {{api.0.sugar_g}},
                                    //{{api.0.potassium_mg}}
                                ],
                            backgroundColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(153, 172, 235, 1)',
                                //'rgba(123, 122, 225, 1)',
                                //'rgba(103, 189, 155, 1)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(153, 172, 235, 1)',
                                //'rgba(123, 122, 225, 1)',
                                //'rgba(103, 189, 155, 1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive:true,
                        maintainAspectRatio:false,
                        plugins:{
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Nutritional values of {{api.0.name | capfirst}}'
                            }
                        }
                    }
                });
                </script>  
                
</body>
</html>